:root {
  --primary: #29e9bc;
  --normal: #ffffff;
  --black: #13131a;
  --bg: #0c1013;
  --danger: #f75842;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
}
